<!DOCTYPE html>
<html>
<head>
  <title>Maps Test</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <style type="text/css">
    html { height: 100% }
    body { height: 100%; margin: 0; padding: 0 }
    #map-canvas { height: 80% }
  </style>
  
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqmnPFZDxh_XIktPvuNQuo8F7mQ86ORc&sensor=FALSE">
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  
  <script type="text/javascript">
    var drawing = false;
    var polygon = null;
    var map = null;
    var info_window = null;
    var geocoder;

    function new_polygon(map, path, border_color, background_color, info_text, editable, draggable){
      var polygonOptions = {
        path: path, 
        strokeColor: border_color,
        strokeWeight: 2,
        fillColor: background_color, 
        fillOpacity: 0.1,
        editable: editable, 
        draggable: draggable
      };
      var polygon = new google.maps.Polygon( polygonOptions );
      polygon.setMap(map);
      
      google.maps.event.addListener(polygon, 'click', function(e){
        if (info_window){
          info_window.setMap(null);
        }
        info_window = new google.maps.InfoWindow();
        info_window.setContent(info_text);
        info_window.setPosition(e.latLng);
        info_window.open(map);
      });
      
      return polygon;
    }

    function start_drawing(){
      polygon = new_polygon(map, new google.maps.MVCArray(), document.getElementById("border_color").value, document.getElementById("background_color").value, document.getElementById("info_text").value, true, true);
      drawing = true;
      document.getElementById("border_color").disabled = true;
      document.getElementById("background_color").disabled = true;
      document.getElementById("start_drawing").disabled = true;
      document.getElementById("info_text").disabled = true;
      document.getElementById("end_drawing").disabled = false;
    }

    function end_drawing(){
      polygon.setDraggable(false);
      polygon.setEditable(false);
      drawing = false;
      document.getElementById("border_color").disabled = false;
      document.getElementById("background_color").disabled = false;
      document.getElementById("start_drawing").disabled = false;
      document.getElementById("info_text").disabled = false;
      document.getElementById("end_drawing").disabled = true;
      submit_form();
    }

    function submit_form(){
      document.new_map_form.points.value = get_path_points(polygon.getPath().getArray());
      document.new_map_form.border_color.value = document.getElementById("border_color").value;
      document.new_map_form.background_color.value = document.getElementById("background_color").value;
      document.new_map_form.info_text.value = document.getElementById("info_text").value;
      document.getElementById("info_text").value="";
      document.new_map_form.submit();
    }

    function get_path_points(array){
      var path_points = "";
      for (i=0; i<array.length; i++){
        path_points+=array[i].toString()+", ";
      }
      return path_points;
    }

    function initialize() {
      document.getElementById("end_drawing").disabled = true;

      geocoder = new google.maps.Geocoder();
      var input = document.getElementById('searchTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);
      
      var mapOptions = {
        center: new google.maps.LatLng(43.64719534917825, -79.39072608947754),
        zoom: 15
      };
      map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
 
      google.maps.event.addListener(map, 'click', function (e) {
        if (drawing==true){
          var currentPath = polygon.getPath();
          currentPath.push(e.latLng);
        }
      });

    // GENERATING THE STORED POLYGONS
    {% for polygon in polygons %}
      var polygon_points = "{{ polygon.points }}".split(", ");
      var polygon_border_color = "{{ polygon.border_color }}";
      var polygon_background_color = "{{ polygon.background_color }}";
      var polygon_info_text = "{{ polygon.info_text }}";
      var polygon_path = [];

      for(i=0; i<polygon_points.length-1; i=i+2){
        var coordenate1 = polygon_points[i].substring(1);
        var coordenate2 = polygon_points[i+1].substring(0, polygon_points[i+1].length-1);
        var latlng = new google.maps.LatLng(coordenate1, coordenate2);
        polygon_path.push(latlng);
      }

      polygon = new_polygon(map, polygon_path, polygon_border_color, polygon_background_color, polygon_info_text, false, false);
    {% endfor %}

    }

    function codeAddress() {
      var address = document.getElementById('searchTextField').value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          map.setCenter(results[0].geometry.location);
          var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
</head>

<body>
  <h3>Drawing Maps</h3>
  <p>
    Border Color:
    <input type="color" id="border_color">
    Background Color:
    <input type="color" id="background_color">
  </p>
  <textarea id="info_text" style="width:350px; height:50px"></textarea><br>
  <p>
    <button onclick="start_drawing()" id="start_drawing">Start Drawing</button>
    <button onclick="end_drawing()" id="end_drawing">End Drawing</button>
  </p>
  
  <form method="POST", action="/new_map/" name="new_map_form">
    {% csrf_token %}
    <input type="hidden" name="points">
    <input type="hidden" name="border_color">
    <input type="hidden" name="background_color">
    <input type="hidden" name="info_text">
  </form>

  <input id="searchTextField" type="textbox">
  <input type="button" value="Search" onclick="codeAddress()">

  <div id="map-canvas"/>
</body>
</html>