<!DOCTYPE html>
<html>
<head>
  <title>Maps Test</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/home.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">
  
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClqmnPFZDxh_XIktPvuNQuo8F7mQ86ORc&sensor=FALSE"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  
  {% if user.is_authenticated %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/drawing_maps.js"></script>
  {% endif %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/creating_polygons.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/search_box.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>

  <script type="text/javascript">
    function generate_polygons(){
      // GENERATING THE STORED POLYGONS
      {% for polygon in polygons %}
        var polygon_id = "{{ polygon.id }}";
        var polygon_points = "{{ polygon.points }}".split(", ");
        var polygon_color = "{{ polygon.color }}";
        var polygon_info_text = "{{ polygon.info_text }}{% if user.is_authenticated %}</br><a href='/edit_map/{{ polygon.id }}'>Edit</a></br><a href='/delete_map/{{ polygon.id }}'>Delete</a>{% endif %}";
        var polygon_path = [];

        for(i=0; i<polygon_points.length-1; i=i+2){
          var coordenate1 = polygon_points[i].substring(1);
          var coordenate2 = polygon_points[i+1].substring(0, polygon_points[i+1].length-1);
          var latlng = new google.maps.LatLng(coordenate1, coordenate2);
          polygon_path.push(latlng);
        }

        // EDITING MAPS
        {% if edit and user.is_authenticated %}
          if("{{ edit }}" == polygon_id){
            polygon = new_polygon(map, polygon_path, polygon_color, polygon_info_text, true, true);
          }else{
            var not_edit_polygon = new_polygon(map, polygon_path, polygon_color, polygon_info_text, false, false);
          }
        {% else %}
          polygon = new_polygon(map, polygon_path, polygon_color, polygon_info_text, false, false);
        {% endif %}
      {% endfor %}
    }
  </script>

  <script type="text/javascript">
    var map;
    var polygon = null;

    function initialize() {
      {% if not edit and user.is_authenticated %}
        document.getElementById("end_drawing").disabled = true;
      {% endif %}

      geocoder = new google.maps.Geocoder();
      var input = document.getElementById('searchTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);
      
      map = init_map(map);
      generate_polygons();
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>

<body>
  <form method="POST", action="/save_map/{% if edit %}{{ edit }}/{% endif %}" name="new_map_form">
    {% csrf_token %}
    <input type="hidden" name="points">
    <input type="hidden" name="color" id="id_color">
    <input type="hidden" name="info_text">
  </form>

  <div class="my_header">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Phosphorus Media - Drawing Maps</a>
        </div>
        <div class="navbar-collapse collapse">
          {% if not user.is_authenticated %}
            <form method="post" action="/login/" class="navbar-form navbar-right" role="form">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" placeholder="Username" name="username" class="form-control">
              </div>
              <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
            </form>
          {% else %}
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout/">Logout</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  </div>

  <div class="my_search">
      <div class="col-sm-10">
        <input id="searchTextField" type="textbox" class="form-control" placeholder="Enter location">
        <a href="javascript:void(0)"><span id="clearSearch" class="glyphicon glyphicon-remove"></span></a>
      </div>
      <button onclick="codeAddress()" class="btn btn-primary">Search</button>
  </div>

  {% if user.is_authenticated %}
    <div id="draw_maps_box" class="form-horizontal">
      <h3>Drawing Maps</h3>
      {% if edit %}
        <button class="btn btn-default" onclick="end_drawing('true')">Save</button>
        <a class="btn btn-default" href="/">Discard</a>
      {% else %}
        <div class="form-group">
          <label class="col-sm-6 control-label">Color</label>
          <div class="col-sm-4">
            <input type="color" class="form-control" id="color">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12">
            <textarea class="form-control" rows="6" id="info_text"></textarea><br>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <button class="btn btn-default" onclick="start_drawing()" id="start_drawing">Start Drawing</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">
            <button class="btn btn-default" onclick="end_drawing('false')" id="end_drawing">End Drawing</button>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div id="filters_box">
    <h3>Filters</h3>
    {% for color, value in colors %}
      <a href="/filter/{{ value }}/"><div style="background-color: {{ color }};" class="filter_color_box"></div></a>
    {% endfor %}
    <a href=/><div class="filter_color_box">All</div></a>
  </div>

  <div id="map-canvas" class="{% if user.is_authenticated %}authenticated{% endif %}"/>  
</body>
</html>