<div class="my_search {% if user.is_authenticated %}user_search{% endif %}">
  <div class="col-sm-10">
    <input id="searchTextField" type="textbox" class="form-control" placeholder="Enter location">
    <a href="javascript:void(0)"><span id="clearSearch" class="glyphicon glyphicon-remove"></span></a>
  </div>
  <button onclick="codeAddress()" class="btn btn-primary">Search</button>
</div>

<a href="javascript:void(0)"><div id="filters_control"></div></a>

<div id="filters_box">
<h3>Filters</h3>
{% for color, value in colors %}
  <a href="/filter/{{ value }}/"><div style="background-color: {{ color }};" class="filter_color_box"></div></a>
{% endfor %}
<a href=/><div class="filter_color_box">All</div></a>
</div>

<div id="map-canvas" class="{% if user.is_authenticated %}authenticated{% endif %}"/>  
