<div id="draw_maps_box" class="jumbotron">
  <h3>Draw Maps</h3>
  <div>
    <div class="form-group">
      <label >Zone Title</label>
      <input type="text" class="form-control" id="title" value="{{ polygon.title }}">
    </div>
    <div class="form-group">
      <label >Color</label>
      <input type="color" class="form-control" id="color" value="{{ polygon.color }}">
    </div>
    {% if edit %}
    <div class="form-group">
      <button class="btn btn-default" onclick="end_drawing()">Save</button>
    </div>
    <div class="form-group">
      <a class="btn btn-default" href="/">Discard</a>
    </div>
    {% else %}
    <div class="form-group">
      <button class="btn btn-default" onclick="start_drawing()" id="start_drawing">Start Drawing</button>
    </div>
    <div class="form-group">
      <button class="btn btn-default" onclick="end_drawing()" id="end_drawing">End Drawing</button>
    </div>
    {% endif %}
  </div>
</div>