html { 
	height: 100% 
}

body { 
	height: 100%; 
	margin: 0; 
	padding: 0 
}

.my_header{
	display: block;
	height:50px;
}

.my_search{
	width:500px;
	position: absolute;
	z-index: 100;
	left:50%;
	margin-left: -250px;
	top:70px;
}

#clearSearch{
	position: absolute;
	top:10px;
	left:380px;
}

#map-canvas { 
	display: block;
	float:left;
	width: 85%;
	height: 95% 
}

.authenticated{
	width:70% !important;
}

#draw_maps_box{
	display: block;
	float: left;
	background-color: gray;
	width: 15%;
	height:95%;
	padding: 0 10px;
}

#filters_box{
	display: block;
	float:right;
	background-color: gray;
	width: 15%;
	height: 95%;
	padding: 0 10px;
}

.filter_color_box{
	width: 20px;
	height: 20px;
	margin: 10px auto;
	opacity:0.7;
	color:black;
}

#color{
	padding:1px;
}

.card_content{
	width: 1100px;
	height: 500px;
	margin: 200px auto;
}

.card_content>div{
	border: 3px solid black;
	width: 515px;
	height: 240px;
}

.card{
	float:left;
}

.form{
	float:right;
}

.card_img{
	width:225px;
	float:left;
	margin-top: 55px;
}

.card_img>img{
	width: 100%;
}

.card_info{
	width:280px;
	float:right;
	text-align: left;
}

#full_name{
	color: blue;
	font-weight: bold;
	font-size: 16px;
}

#url{
	color: blue;
}

#url label{
	color:black;
}